$color-white: #fff;
$color-black: #000;
$color-blue: #03034f;
$color-blue-light: #0909f6;
$color-orange: #f49f1c;
$color-orange-light: #eeb55f;
$color-orange-medium: #efaa43;

$font-size-small: 1.8rem;
$font-size-default: 2.5rem;
$font-size-big: 3rem;
