@import 'variables';

.wrapper{
  &__header{
    font-size: $font-size-default;
    color: $color-white;
    text-align: center;
  }
}

.container{
  font-size: $font-size-default;
  background: $color-white;
  border-radius: 1rem;
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem;
  width: 80vw;
  background-color: $color-orange-light;
  color: $color-black;

  &__file-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px dashed;
    height: 30rem;
    background-color: $color-orange;
    cursor: pointer;

    &-icon{
      width: 7rem;
      height: 7rem;
    }

    &-text{
      font-weight: 600;
    }
  }
}

.uploaded-container{
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: $color-orange;
  position: relative;

  &__content{
    display: flex;
    align-items: center;

    &-details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .5rem;

      &-name,
      &-size{
        margin-left: 1rem;
      }

      &-size{
        font-size: $font-size-small;
        font-weight: 600;
      }
    }


    &-file-icon,
    &-tick-icon{
      width: 5rem;
      height: 5rem;
    }

    &-tick-icon{
      margin-left: auto;
    }

    &-reset-btn{
      color: red;
      font-weight: 600;
      font-size: $font-size-big;
      cursor: pointer;
      position: absolute;
      top: -1.5rem;
      right: -.5rem;
    }
  }
}

.user-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  &__label{
    color: $color-white;
    margin-bottom: 1rem;
  }

  &__label,
  &__input{
    font-size: $font-size-default;
  }

  &__input{
    padding: 1rem;
    &:focus{
      outline: none;
    }
  }
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  &__btn{
    font-size: $font-size-default;
    padding: 1rem;
    border: none;
    background-color: $color-blue-light;
    color: $color-white;
    border-radius: 1rem;
    width: 20rem;
    cursor: pointer;

    &--disabled{
      cursor: default;
      opacity: 0.5;
    }
  }
}
