<form
  class="wrapper"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <header class="wrapper__header">{{'labels.uploadFile' | translate}}</header>
  <div class="container" dragDrop (fileDropped)="onFileDropped($event)">
    <div
      class="container__file-input"
      (click)="fileInput.click()"
    >
      <input
        type="file"
        #fileInput
        class="container__file-input-field"
        hidden
        accept=".docx"
        (change)="onFileChange(fileInput.files)"
      >
      <svg class="container__file-input-icon">
        <use xlink:href="../../assets/svg/sprite.svg#upload"></use>
      </svg>
      <p class="container__file-input-text">
        {{'labels.chooseFile' | translate}} <br>
        {{'labels.dropFile' | translate}}
      </p>
    </div>
    <section
      *ngIf="chosenFile"
      class="uploaded-container"
    >
      <div class="uploaded-container__content">
        <svg class="uploaded-container__content-file-icon">
          <use xlink:href="../../assets/svg/sprite.svg#file"></use>
        </svg>
        <div class="uploaded-container__content-details">
          <span class="uploaded-container__content-details-name">
            {{chosenFile.name}} &#x2022; {{'labels.chosenFile' | translate}}
          </span>
          <span class="uploaded-container__content-details-size">
            {{chosenFile.size / 1000}} KB
          </span>
        </div>
        <span
          (click)="onResetFile()"
          class="uploaded-container__content-reset-btn"
        >
          &times;
        </span>
        <svg class="uploaded-container__content-tick-icon">
          <use xlink:href="../../assets/svg/sprite.svg#tick"></use>
        </svg>
      </div>
    </section>
  </div>
  <div class="user-info-container">
    <label
      for="email"
      class="user-info-container__label"
    >
      {{'labels.enterEmail' | translate}}
    </label>
    <input
      type="text"
      id="email"
      class="user-info-container__input"
      formControlName="email"
      placeholder="{{'placeholders.email' | translate}}"
    >
  </div>
  <div class="buttons">
    <button
      type="submit"
      class="buttons__btn"
      [ngClass]="{'buttons__btn--disabled': form.invalid}"
    >
      {{'buttons.upload' | translate}}
    </button>
  </div>
</form>

